/*************************************TAG SELECTORS******************************/

body{
    background-color: #E6E8EB;
    font-family: 'Montserrat';
    text-align: center;
}

h1{
    font-family: "Merriweather";
    font-weight: 900;
    width: 90%;
}

h2, h3, h4{
    font-family: "Merriweather";
    font-weight: 800;
}

u{
    text-decoration-color: #f00;
}
/*************************************CLASS SELECTORS******************************/

.container-fluid{
    padding: 0;
}

.navbar{
    padding: 0.5% 2%;
}

.navbar-brand{
    font-family: "Merriweather";
    font-weight: 900;
}

.brand-text{
    color: gray;
    margin-right: 5px;
}

.nav-item{
    margin: auto;
}

.user{
    border-radius: 50%;
    border-color: white;
    margin: auto 1rem;
}

.filters{
    background-color: white;
    text-align: center;
    padding: 1% 15%;
}

.filter-buttons{
    margin: 0.5%;
    font-family: 'Montserrat';
    font-weight: 500;
}

.carousel{
    margin: auto;
    background-color: white;
    max-width: 70%;
    height: auto;
}

.carousel-item{
    background-color: #F2F5F4;
}

.carousel_btns{
    margin-top: auto;
    margin-bottom: auto;
    height: 10rem;
    width: 5rem;
}

.card-image-top{
    max-width:100%;
    max-height:100%;
}

.carousel_txt{
    background-color: gray;
    padding: 3% 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.carousel_txt p{
   margin: 0;
   color: white;
}

.carousel_txt h4{
    color: #F2F5F4;
}

.section_headings{
    text-align: left;
    padding-bottom: 2%;
    padding-left: 4rem;
}

.cta_icon{
    text-align: right;
    margin: auto;
}

.cta_text{
    padding: 7% 0%;
}

.cta_heading{
    color: white;
    text-align: left;
    font-size: 3rem;
}

.sign_up{
    text-align: left;
}

.download_cta{
    text-align: left;
    margin: 5% 2%;
    width: 25%;
    min-width: 176px;
}

.form-control{
    margin-right: 1rem;
}

.footer_icons{
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.cta_container{
    padding: 3% 4% 0% 10%;
}

.cta_row_2{
    padding-top: 3%;
}

.cards:hover{
    box-shadow: 3px 5px 7px #C7C7C7;
}

.card_container{
    padding: 2% 10%;
}

.carousel_imgs{
    max-width: 100%;
    height: auto;
}

.news_imgs{
    height: 174px;
    width: auto;
}

.card-body{
    text-align: left;
}

.load_more{
    text-align: center;
    margin: 0.5% auto;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.info_row{
    color: white;
    text-align: left;
    margin: 0 2rem;
}

.info_row a{
    color: #E6E8EB;
}

.info_row a:hover{
    color: gray;
}

.donate_btn{
    margin: 1rem 0 1rem 0;
    width: 60%;
}

/*************************************ID SELECTORS******************************/

#latest{
    margin: 2rem;
}

#content{
    padding: 1rem;
    margin: 1rem;
}

#cta{ 
    background-color: #161616;
    padding: 0% 5% 0% 5%;
}

#info{
    background-color: #161616;
    padding: 0% 2% 1% 2%;
}

#footer{
    padding: 2% 5% 1% 5%;
}

/*************************************MEDIA QUERIES******************************/

@media (max-width: 993px){
    .cta_icon{
        text-align: center;
        margin: auto;
    }
    .cta_heading{
        text-align: center;
    }
    .cta_container{
        padding: 3% 25%;
    }
    .download_btns{
        position: relative;
        left: 2%;
        width: 80%;
    }
    .user{
        margin: 1rem 0;
    }
    .info{
        padding: 1% 2% 1% 2%;;
    }
    .info_col{
        margin: 0.5rem 0;
    }
    .cards{
        margin: 0.5rem 0;
    }
}

@media (min-width:)


